<h1>Product List</h1>
<mat-list role="list">
    <ng-container *ngIf="productList$ | async as products; else loader;">
        <ng-container *ngIf="products.length > 0; else empty;">
            <mat-list-item role="listitem" *ngFor="let product of products">
                {{product.title}} {{product.price}}
                <button mat-raised-button color="primary" (click)="onRemoveButtonClicked(product.id)">Remove</button>
                <button mat-button color="primary" (click)="onDetailsButtonClicked(product.title)">Show details</button>
                <ng-container *ngIf="productTitle$ | async as productTitle">
                    <ng-container *ngIf="productTitle == product.title; else empty;">
                        {{productTitle}}
                    </ng-container>
                </ng-container>
            </mat-list-item>
        </ng-container>
    </ng-container>
</mat-list>

<ng-template #empty>
</ng-template>

<ng-template #loader>
    <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>