<mat-selection-list role="list"
                    fxLayout="row"
                    [multiple]="false">
    <ng-container *ngIf="roleList$ | async as roles; else loader;">
        <mat-list-option role="listoption"
                         (click)="onFilteringRoleChanged(role.id)"
                         *ngFor="let role of roles"
                         [value]="role.id">
            {{role.role}}
        </mat-list-option>
    </ng-container>
</mat-selection-list>

<mat-list role="list">
    <ng-container *ngIf="userList$ | async as users; else loader;">
        <mat-list-item role="listitem"
                       *ngFor="let user of users">
            {{user.email}}
        </mat-list-item>
    </ng-container>
</mat-list>

<ng-template #loader>
    <mat-progress-spinner [color]="'primary'"
                          [mode]="'indeterminate'"
                          [value]="50">
    </mat-progress-spinner>
</ng-template>