<mat-list role="list">
    <ng-container *ngIf="countries$ | async as countries; else loader;">
        <ng-container *ngIf="countries.length > 0; else empty;">
            <mat-list-item role="listitem" *ngFor="let country of countries">
                {{country.name}}
                <button mat-mini-fab (click)="onRemoveButtonClicked(country.id)">
                    <mat-icon>remove</mat-icon>
                </button>
            </mat-list-item>
        </ng-container>
    </ng-container>
    <ng-template #loader>
        <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
    <ng-template #empty>
        There is no data.
    </ng-template>
</mat-list>