<ng-container *ngIf="list$ | async as list; else loader">
    <mat-tree *ngIf="list"  [treeControl]="treeControl">      
        <!-- This is the tree node template for leaf nodes -->      
        <!-- There is inline padding applied to this node using styles.        
        This padding value depends on the mat-icon-button width. -->      
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>        
            {{node.name}}      
        </mat-tree-node>      
        <!-- This is the tree node template for expandable nodes -->      
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">        
            <div class="mat-tree-node">          
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">            
                    <mat-icon class="mat-icon-rtl-mirror">              
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}            
                    </mat-icon>          
                </button>          
                {{node.name}}        
            </div>        
            <!-- There is inline padding applied to this div using styles.              
                This padding value depends on the mat-icon-button width.  -->        
            <div *ngIf="treeControl.isExpanded(node)" role="group">          
                <ng-container matTreeNodeOutlet></ng-container>        
            </div>      
        </mat-nested-tree-node>    
    </mat-tree>
</ng-container>

<ng-template #empty>
    Ooops! There is no data!
</ng-template>

<ng-template #loader>
  <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
</ng-template>