<mat-card>
    <mat-card-title>Product details</mat-card-title>
    <mat-card-content>
        <ng-container *ngIf="productDetails$ | async as item; else empty">
            {{item.title}} {{ item.price }}$
        </ng-container>
    </mat-card-content>
    <ng-template #empty>
        There is no data.
    </ng-template>
    <ng-template>
        <mat-progress-spinner #loader
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50">
      </mat-progress-spinner>
    </ng-template>
</mat-card>


<mat-card>
    <mat-card-title>Product List</mat-card-title>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let product of productList$ | async">
                {{product.title}}
                <button mat-mini-fab (click)="onRemoveButtonClicked(product)">
                    <mat-icon>remove</mat-icon>
                </button>
                <button mat-mini-fab (click)="onDetailsButtonClicked(product)">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

